section {
  background: $background;
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding: 7em 0 0;
  border-bottom: 1px solid rgba($red, 0.5);

  &.inverse {
    background: $foreground;
    color: rgba($background, 1);
  }

  &#demands-2 {
    padding: 0;
  }
}

.container {
  max-width: $max-container-width;
}
p {
  padding: 0;
  margin-bottom: 0.5em !important;
}

.sticky {
  position: relative;
  position: -webkit-sticky;
  position: sticky;
  top: 3em;
}

.sticky-demo {
  position: fixed;
  bottom: 1rem;
  background: $red;
  color: $background;
  padding: 0.25em 1em;
  font-family: "AAHA-WEB";
}

//white-bg

h1 {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  // height: 100vh;
  z-index: 1;
  transition: transform $transition-time;
  // mix-blend-mode: multiply;

  &.title-top {
    top: 0.75em;
    
  }

  &.title-bottom {
    // transform:rotate(180deg);
    color:black;
    position:fixed;
    top:calc(100vh - 1.6em);
  }

  &.fr {
    transform: rotate(180deg);
  }

 

  &.title-top,
  &.title-bottom {
    position: fixed;
    color: $red;
    // mix-blend-mode: multiply;
    width: 100%;
    z-index: 1;
    text-align: center;
    letter-spacing: 0.05em;
    pointer-events: all;

    & a:link {
      text-decoration: none;
    }
  }

  
}

.title-top.invert,
.title-bottom.invert {
  color: $background !important;
}

#lang {
  width: 80px;
  height: 30px;
  cursor: pointer;
  position: fixed;
  z-index: 12;
  bottom: 1em;
  right: 1em;
  transform-origin: 50% 50%;
  transition: all $transition-time;

  & div {
    display: inline-block;
    border-radius: 2px;
    transition: all $transition-time;
    padding: 0.2em 0.3em 0;
    color: $red;
    font-family: aaha-web;

    &:hover,
    &.active {
      color: rgba($background, 0.9);
      background: $red;
    }
  }

  //     &:hover .rect {
  //         width:40px;
  //         left:0;
  //         background:$foreground;
  //     }

  // & .rect {
  //     background:$red;
  //     height:10px;
  //     position:absolute;
  //     transition:all $transition-time;

  // }
}

#mb-2-c {
  & .rect1 {
    width: 30px;
    top: 0;
    left: 5px;
  }

  & .rect2 {
    width: 20px;
    top: 20px;
    left: 10px;
  }

  & .rect3 {
    width: 40px;
    top: 40px;
    left: 0;
  }
}

#mb-2-l {
  & .rect1 {
    width: 30px;
    top: 0;
    left: 0;
  }

  & .rect2 {
    width: 20px;
    top: 20px;
    left: 0;
  }

  & .rect3 {
    width: 40px;
    top: 40px;
    left: 0;
  }
}

#menu-button {
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: fixed;
  z-index: 12;
  top: 1em;
  left: 1em;
  transform-origin: 50% 50%;

  & .menu-button-square {
    background: $red;
    width: 10px;
    height: 10px;
    position: absolute;
    transform-origin: 50% 50%;
    transition: all $transition-time;

    &.top-left {
      top: 0;
      left: 0;
    }

    &.top-right {
      top: 0;
      right: 0;
    }

    &.bottom-left {
      bottom: 0;
      left: 0;
    }

    &.bottom-right {
      bottom: 0;
      right: 0;
    }

    &.center {
      top: 10px;
      left: 10px;
      
      opacitY:0;
    }
  }

  

  &.active .menu-button-square,
  &:hover .menu-button-square {
    opacity:1;
    transform: rotate(45deg);
  }

  &.active .menu-button-square {
    background: $foreground;
  }

  &.invert {
    & .menu-button-square {
      background: $background;
    }

    &.active .menu-button-square {
      background: $foreground;
    }
  }
}

#menu-fist {
  width: 30px;
  height: 30px;
  display: block;
  opacity: 0;
  cursor: pointer;
  position: fixed;
  z-index: 12;
  padding: 0;
  margin: 0;
  line-height: 0;
  top: 2rem;
  right: 2rem;
  font-size: 4em;
  font-family: "AAHA-WEB";
  fill: rgb(192, 0, 0);

  & #top_fist {
    fill: $red;
    transition: fill $transition-time;

    &:hover {
      fill: $foreground;
    }
  }

  &.active {
    &::after {
      position: relative;
      top: -0.2em;
      content: "\d7";
    }

    & #top_fist {
      opacity: 0;
    }
  }

  &.active .menu-button-square {
    background: $foreground;
  }

  &.invert {
    & #top_fist {
      fill: $background;
    }

    &.active & #top_fist {
      fill: $foreground;
    }
  }
}

#menu {
  position: fixed;
  z-index: 10;
  background: rgba($background, 0.9);
  top: 0;
  left: 0;
  user-select: none;
  pointer-events: none;
  opacity: 0;
  transition: opacity $transition-time;
  padding: 0;
  &.active {
    opacity: 1;
    user-select: initial;
    pointer-events: initial;
  }

  & ul {
    list-style-type: none;
    margin-top: 5em;
    margin-left: 0.5em;
    & li {
      font-family: "AAHA-WEB";
      color: $red;
      font-size: 15vh;
      line-height: 0.8;
      padding-bottom: 0.2em;
      cursor: pointer;
      transition: color $transition-time;

      & a,
      & a:link,
      & a:visited {
        color: $red;
        text-decoration: none;
        transition:color 0.4s
      }

      & a:hover {
        color: $foreground;
      }
    }
  }
}

.socials {
  font-size: 4em;
  letter-spacing: 0.05em;
  padding-bottom: 0.5em;

  & i {
    cursor: pointer;
    transition: color $transition-time;

    &:hover {
      color: $red;
    }
  }
}



.filter-section {
  text-align:center;
    font-family:'AAHA-WEB';
    display:inline-block;
    border:1px solid $red;
    border-radius:2em;
    background:$red;
    color:white;
    padding-right:0.5em;
    font-size:1.75rem;
    margin:0 0.5em;
    padding-top:0.5em;

    & option {
      font-family:'AAHA-WEB';
    }

}

.slide-fullscreen {
  width: 100vw;
  height: 100vh;
  z-index: 99999;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
  background-color: rgba($background, 0.9);
  // padding:4vw;

  & img {
    width: 100%;
    height: 100%;    
    padding-top:3vw;
    max-width: 94vw;
    max-height:90vh;
    object-fit: contain;
    mix-blend-mode: normal;
    cursor: zoom-out;
    transition: none;

    &, &:hover{
      filter: none;
    }
  }

  & .caption {
    padding:1em;
    text-align:center;
  }

  & .close {
    font-family: 'AAHA-WEB';
    font-size: 7.5rem;
    color: $red;
    position: absolute;
    top: 2.5rem;
    right: 2rem;
    cursor:pointer;
    transition:color 0.4s;

    &:hover {
      color:$foreground;
    }
  }
}


.flickity-viewport {
  overflow:visible;



& .slide {
  border-right:3px solid rgba($foreground, 0);
  width:100%;
  

  & .demand-slide {
    width:100%;
    height:80vh;
    overflow:hidden;
    position:relative;

    & img {
      position:absolute;
      top:50%;
      left:50%;
      transform:translate(-50%,-50%);
      display:block;
      max-width:100%;
      max-height:600px;
      width:auto;
      height:auto;
      opacity:0.3;
      cursor: zoom-in;
    }
  }

  & .caption {
    opacity:0;
    transition:0.4s;
  }

  &.is-selected  {
    & .caption {
      opacity:1;
    }
    & img{
      filter: grayscale(0) contrast(100%);
      opacity:1;
    }
    
  }
}

}

button.flickity-button {
  padding:0;
  border:1px solid $red;
  background:none;
  z-index:10000;

  & svg {
    fill:$red
    
  }

  &:hover {
    border:1px solid $red;

    & svg {
      fill:$red;
    }
  }
}


#bottom_fist {
  display: inline-block;
  fill: $white;
  max-width: 200px;
}

ul.actions {
  list-style-type: none;
  padding-top: 1em;
  & li {
    margin-bottom: 1em;
    padding-bottom: 1em;
  }
}

table {
  width: 100%;
  border-spacing: 0;
  margin-bottom:0;

  & thead tr td {
    border-top:none!important;
    border-bottom:none;
  }
  
  & tr {
    padding: 0;
    margin: 0;
    visibility: visible;
    transition: height $transition-time;
    min-height: 50px;
    overflow: hidden;

    &:hover {
      // background:$foreground!important;
      // color:$background;

      & h3 {
        color: $background;
      }
    }

    & td {
      padding: 0.25em;

      // &.hideText {
      // }
    }

    &.hide {
      height: 0;

      visibility: collapse;
    }

    &:first-child td {
      border-top: 1px solid rgba($foreground, 0.3);
      
    }
    // &:nth-child(odd) {background: rgba($foreground,0.02)}
    // background:red;

    & td {
      margin: 0;
      padding: 0.5em;
      border-bottom: 1px solid rgba($foreground, 0.3);

      &:first-child {
        padding-left: 1em;
      }
    }
  }
}

.thirds {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  grid-column-gap: 1em;
  & svg {
    width:100%;
    height:auto;
  }
}
#contact {
  position:relative;
  padding:0;

  & .row {
    // padding:0 2em ;
    position:absolute;
    
    top:50vh;
    transform:translateY(-50%)
  } 


}
.partners {

  margin-top:2em;
  max-width:40%;

  & .footerLogo {
    fill: rgba($foreground, 1);
    width: 100%;
    transition: fill 0.4s;
    height: auto;
    padding-bottom: 2em;

    &:hover {
      fill: $red;
    }

  & svg {
    height:auto;
  }

  & #logoBiennale {
    width: 50%;
    
  }

  & #logoCCA,
  & #logoUW,
  & #logoSALA,
  & #logoRAIC {
    width: 80%;
  }


}



#contact {
    position:relative;

    & .row {
      padding:0 2em ;
      position:absolute;
      background:red;
      top:50vh;
      transform:translateY(-50%)
    } 

  & h5 {
    color: rgba($background, 1);
  }

  & li {
    margin-bottom: 0;
  }

  & .footerList {
    font-family: 'AAHA-WEB';
    text-transform: uppercase; 
    // list-style-type: disc;
    // margin-left: -1.25em;
  }

  
  }
}

// .main-carousel {
// width:100%;
// height:auto;
// max-height:50vh;

//     & button {
//         padding:0;
//     }
//     & .carousel-cell {
//         width:100%;
//         height:100%;
//         & img {
//             max-width:100%;
//             max-height:50vh;
//             display:block;
//             margin:auto;
//             width:auto;
//             height:auto;

//         }
//     }
// }

.sidebearing {
  width: calc(100vw / 2 - 1800px / 2);
}

@media (max-width: 800px) {
  body {
    font-size: 18px;
  }
  #menu-button {
    top: 0.5em;
    left: 0.5em;
  }

  #menu-fist {
    top: 0.8rem;
    right: 0.5rem;
    width: 35px;
    height: 35px;
  }

  #lang {
    bottom: 0.5em;
    right: -0.75em;
  }

  #contact {
    text-align:center;
    position:relative;
    
    & .socials {
      padding-bottom: 0.5rem;
    }

    & .row {
      padding:0 2em ;
      position:absolute;;
      top:50vh;
      transform:translateY(-50%);

      & .text-right {
        text-align:center;
        padding-right:0;
      }
      
    }
  }

  .manifesto {
    font-size: 1.75em;
    text-align: left;
    position: static;
    transform: translateY(0);

    & .intro {
      display: block;
      padding: 0.5em 0.2em;
      color: $red;
      text-align: center;
    }

    & .num {
      width: 0.3em;
      text-align: right;
    }

    &.fr {
      font-size: 1.5em;
    }
    & h2 {
      text-align: left;
      display: block;
      padding: 0 0 0.3em 0.3em;
      margin: 0;
      line-height: 1.1;
      text-indent: -0.3em;
      text-transform: uppercase;
    }
  }

  h1,
  h2,
  h3,
  h4 {
    text-align: center;
  }
  h1 {
    position: static;
    height: auto;
    // max-width:80%;
    margin: auto;
    margin-top: 1.7em;
    font-size: 2rem;

    &.title-top,
    &.title-bottom {
      position: static;
      display: block;
    }

    &.title-bottom {
      transform: rotate(0);
      position:static;
      padding:0.5em;
    }

    &.fr {
      transform: rotate(0);

      & .title-bottom {
        display: block;
      }

      & .title-top {
        display: none;
      }
    }
  }

  h2 {
    font-size: 2em;
    line-height: 1;
  }
  h3 {
    padding-top: 1em;

    &.bigTitle {
      font-size: 3em;
    }
  }

  section {
    
    padding: 1rem;
    &#demands {
      min-height:0;
      padding:0;
    }
  }

  .container {
    width: 100%;
    padding: 0;
  }

  section.demand {
    padding-top: 3em;
  }
  .sticky {
    position: static;
    
  }

  #menu ul li {
    font-size: 6rem;
  }

  .members {

    & thead {
      display:none;

    }


    & tr {
      display: block;
      padding: 1em 0;
      border-bottom: 1px solid rgba($foreground, 0.3);
      height: auto;
      &:first-child {
        border-top: 1px solid rgba($foreground, 0.3);
      }

      &:first-child td {
        border: none;
      }
    }
    & td {
      display: block;
      margin: 0;
      padding: 0;
      border: none;
      height: auto;

      &:first-child {
        padding: 0;
      }

      // &.smallHalf {
      //     width:50%;
      //     float:left;
      //     height:1.2em
      // }
    }
  }

  .partners {
    max-width:100%;
  }
}
