section {
    background:$background;
    width:100%;
    min-height:100vh;
    position:relative;
    padding:7em 0;
    border-bottom:1px solid rgba($red,0.5);

    &.inverse {
        background:$foreground;
        color:rgba($background,1)
    }
    

    &#demands-2 {
        padding:0;
    }
}


.container {
    max-width:1800px;
}
p {
    padding:0;
    margin-bottom:0.5em!important;
}


.sticky {
    position: relative;
    position: -webkit-sticky;
    position: sticky;
    top: 1em;
}

.sticky-demo {
    position: fixed;
    bottom: 1rem;
    background:$red;
    color:$background;
    padding:0.25em 1em;
    font-family: 'AAHA';
    
}


//white-bg


h1 {
    pointer-events: none;;
    position:fixed;
    top:0; left:0;
    width:100vw;
    height:100vh;
    z-index:1;
    transition:transform $transition-time;
    // mix-blend-mode: multiply;

    &.fr {
        transform:rotate(180deg);
    }

    & .title-top,
    & .title-bottom {
    position:absolute;
    color:$red;
    // mix-blend-mode: multiply;
    width:100%;    
    z-index:1;
    text-align:center;
    letter-spacing: 0.05em;;
    pointer-events: all;

    & a:link {
        text-decoration:none;
    }
    }

    & .title-top {
        top:0.75em;
    }
    
    & .title-bottom {
        // transform:rotate(180deg);
        bottom:0.4em;
    }
}




.title-top.invert,
.title-bottom.invert {
    color:$background!important;
}




#lang {

    width:80px;height:30px;
    cursor: pointer;
    position:fixed;
    z-index:12;
    bottom:1em;
    right:1em;
    transform-origin: 50% 50%;
    transition:all $transition-time;

    & div {
        display:inline-block;
        border-radius:2px;
        transition:all $transition-time;
        padding:0.2em 0.3em 0;
        color:$red;
        font-family:aaha-web;

        &:hover,
        &.active {
            color:rgba($background,0.9);
            background:$red;
        }
    }

    //     &:hover .rect {
    //         width:40px;
    //         left:0;
    //         background:$foreground;
    //     }   
    

    // & .rect {
    //     background:$red;    
    //     height:10px;
    //     position:absolute;
    //     transition:all $transition-time;

        
    // }


}

#mb-2-c {

    & .rect1 {
        width:30px;
        top:0;
        left:5px;
    }

    & .rect2 {
        
        width:20px;
        top:20px;
        left:10px;
    }

    & .rect3 {
        width:40px;
        top:40px;
        left:0;
    }
}


#mb-2-l {

    & .rect1 {
        width:30px;
        top:0;
        left:0;
    }

    & .rect2 {
        
        width:20px;
        top:20px;
        left:0;
    }

    & .rect3 {
        width:40px;
        top:40px;
        left:0;
    }
}


#menu-button {
    width:30px;height:30px;
    cursor: pointer;
    position:fixed;
    z-index:12;
    top:1em;
    left:1em;
    transform-origin: 50% 50%;


    & .menu-button-square {
        background:$red;
        width:10px;
        height:10px;
        position:absolute;
        transform-origin: 50% 50%;
        transition:all $transition-time;
        
        &.top-left {
            top:0; left:0
        }

        &.top-right {
            top:0; right:0;
        }

        &.bottom-left {
            bottom:0; left:0
        }

        &.bottom-right {
            bottom:0; right:0
        }
    }
  
  &.active  .menu-button-square,
    &:hover  .menu-button-square{

    transform:rotate(45deg);
   
}

&.active .menu-button-square {
        
    background:$foreground;
  }

&.invert  {
    & .menu-button-square {
        background:$background;

    }

    &.active .menu-button-square { 
        background:$foreground;
    }
}

}



#menu-fist {
    width:30px;height:30px;
    display:block;
    opacity:0;
    cursor: pointer;
    position:fixed;
    z-index:12;
    padding:0;
    margin:0;
    line-height: 0;
    top:2rem;
    right:2rem;
    font-size:4em;
    font-family: "AAHA-WEB";
    fill: rgb(192,0,0);

    & #top_fist {
        fill:$red;
        transition: fill $transition-time;
        
        &:hover {
             fill:$foreground;        
        }
    }


    &.active {

        &::after {
            position:relative;
            top:-0.2em;
            content:"\d7";
            
        }

        & #top_fist {
            opacity:0;            
        }
    }

   

    
 

&.active .menu-button-square {
        
    background:$foreground;
  }

  &.invert  {
    & #top_fist {
        fill:$background;

    }

    &.active & #top_fist { 
        fill:$foreground;
    }
}
}

#menu {
    position:fixed;
    z-index:10;
    background:rgba($background,0.9);
    top:0;
    left:0;
    visibility:hidden;
    opacity:0;
    transition:opacity $transition-time;
    padding:0;
    &.active {
        visibility:visible;
        opacity:1;
    }

    & ul {
        list-style-type:none;
        margin-top: 5em;
        margin-left: 0.5em;
        & li {
            font-family: 'AAHA-WEB';
            color:$red;
            font-size:15vh;
            line-height:0.8;
            padding-bottom:0.2em;
            cursor:pointer;
            transition:color $transition-time;

            & a,
            & a:link,
            & a:visited {
                color:$red; 
                text-decoration:none;
            }

            &:hover {
                color:$foreground;
            }
            
        }
    }
}

.socials {
    font-size:2em;
    letter-spacing: 0.1em;
    padding-bottom:0.5em;

    & i {
        cursor:pointer;
        transition: color $transition-time;

    
    
        &:hover {
        color:$red;
    }
    }
}

#bottom_fist {
    display:inline-block;
    fill: $white;
    max-width:200px;
}

ul.actions {
    list-style-type:none;
    padding-top:1em;
    & li {
        margin-bottom:1em;
        padding-bottom:1em;
    }
}



table {
    width:100%;
    border-spacing:0;
    & tr {
        padding:0;
        margin:0;
        visibility:visible;
        transition:height $transition-time;
        height:100px;
        overflow:hidden;

        &:hover {
            background:$foreground!important;
            color:$background;

            & h3 {
                color:$background
            }
        }

        &.hide {
            height:0;
            
            visibility: collapse;
        }

        &:first-child td {border-top:1px solid $foreground;}
        // &:nth-child(odd) {background: rgba($foreground,0.02)}
        // background:red;

        & td {
            margin:0;
            padding:0.5em;
            border-bottom:1px solid rgba($foreground,0.2);

            &:first-child
             {padding-left:1em;}
        }
    }
}



// .main-carousel { 
// width:100%;
// height:auto;
// max-height:50vh;

//     & button {
//         padding:0;
//     }
//     & .carousel-cell {
//         width:100%;
//         height:100%;
//         & img {
//             max-width:100%;
//             max-height:50vh;
//             display:block;
//             margin:auto;
//             width:auto;
//             height:auto;
            
//         }
//     }
// }

@media (max-width:800px) {


    body {
        font-size:18px;
    }
    #menu-button {
        top:0.5em;
        left:0.5em;
        
    }

    #menu-fist {
        top:0.8rem;
        right:0.5rem;
        width:35px;
        height:35px;
     
    }

    #lang {
        bottom:0.5em;
        right:-0.75em;
    }

    .manifesto {
        font-size:1.75em;
        text-align: left;
        position:static;
        transform:translateY(0);

        & .intro {
            display:block;
            padding:0.5em 0.2em;
            color:$red;
            text-align:center;
        }

        & .num {
            width:0.3em;
            text-align:right
        }

        &.fr {
            font-size:1.5em;
        }
        & h2 {
            text-align:left;
            display:block;
            padding:0 0 0.3em 0.3em;
            margin:0;
            line-height:1.1;
            text-indent:-0.3em;
            text-transform: uppercase;
        }
    }

    h1, h2, h3, h4 {
        text-align:center;
    }
    h1 {
        position:static;
        height:auto;
        // max-width:80%;
        margin:auto;
        margin-top:1.7em;
        font-size:1.25rem;
        

        & .title-top,
        & .title-bottom {
            position:static;
            display:block;
        }

        & .title-bottom {
            transform: rotate(0);
            display:none;
        }

        &.fr {
            transform:rotate(0);
            
            & .title-bottom {
                display:block;
            }

            & .title-top {
                display:none;
            }
        }

      
    } 

    h2 {
        font-size:2em;
        line-height:1;
    }
    h3 {
        padding-top:1em;

        &.bigTitle {
            font-size:3em;
        }
    }




  


section {
    padding:1rem;
}

.container {
    width:100%;
    padding:0;
}

section.demand {
    padding-top:3em;
}
.sticky {
    position:static;
}


#menu ul li {
    font-size:6rem
}


.members {
& tr {
    display:block;
    padding:1em 0;
    border-bottom:1px solid rgba($foreground,0.2);
    height:auto;
&:first-child {
    border-top:1px solid rgba($foreground,0.2);
}

    &:first-child td {
        border:none;
    }
}
    & td {
        display:block;
        margin:0;
        padding:0;
        border:none;
        height:auto;

        &:first-child {
            padding:0;
        }

        // &.smallHalf {
        //     width:50%;
        //     float:left;
        //     height:1.2em
        // }

    }
}
}