@font-face {
  font-family: "AAHA-WEB";
  src: url("../public/fonts/AAHA-Regular.woff2") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "Starling";
  src: url("../public/fonts/starling/Starling Book.woff2") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "Starling";
  src: url("../public/fonts/starling/Starling Book Italic.woff2") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Starling";
  src: url("../public/fonts/starling/Starling Bold.woff2") format("woff");
  font-weight: bold;
}

body {
  font-family: "Starling", "Times New Roman", serif;
  font-size: 21px;
  line-height: 1.4em;
}

::-moz-selection {
  /* Code for Firefox */
  background: $red;
  color: $background;
}

::selection {
  background: $red;
  color: $background;
}

a,
a:link,
a:visited {
  color: $red;
  text-decoration-color: $red !important;
  text-decoration: underline;
}

a:hover,
a:active {
  color: $red;
  text-decoration: none;
}

.aaha-text {
  font-family: "AAHA-WEB";
  font-size: 0.95em;
  font-weight: normal !important;
  letter-spacing: 0.05em;
}

.inverse a:link,
.inverse a:visited {
  color: $background;
  text-decoration: underline;
}

.inverse a:hover,
.inverse a:active {
  text-decoration: none;
}

.truth a:link,
.truth a:visited {
  color: $background;
}

.red {
  color: $red;
}

h3 {
  font-family: "Lettera", Courier, monospace;
  font-weight: normal;
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h5 {
  font-family: "AAHA-WEB";
  color: $foreground;
}

#contact h1,
#contact h2,
#contact h3,
#contact h5 {
  color: $background;
}

h4 {
  font-size: 1em;
  font-weight: bold;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 4.5rem;
  letter-spacing: 0.01em;
  line-height: 1.1;
}

h3 {
  font-size: 3rem;
  letter-spacing: 0.02em;
  line-height: 4rem;

  &.bigTitle {
    font-size: 10rem;
    line-height: 1;
    padding-bottom: 1rem;
  }

  &.textCenter {
    text-align: center;
  }
}

h5 {
  font-size: 2.25rem;
  // float: left;
  // height: 1rem;
  margin-top: -0.1em;
  padding-right: 0.75em;
  margin-bottom:0;
}
.exAlt1,
.exAlt2,
.exAlt3 {
  width: 0;
  visibility: hidden;
  overflow: hidden;
}
.exAlt1:before,
.exAlt2:before,
.exAlt3:before {
  visibility: visible;
}

.exAlt1:before {
  content: "\0777";
}

.exAlt2:before {
  content: "\0776";
}

.exAlt3:before {
  content: "\0778";
}

.noBreak {
  white-space: nowrap;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
  padding-right:1em;
}
.caption {
  font-size: 0.8em;
  line-height: 1.3;
  padding-bottom: 1em;

  font-weight: bold;
  font-style: italic;
}

.teamTitle:link,
.teamTitle:visited {
  font-family: "AAHA-WEB";
  font-size: 1.2em;
  color: $foreground;
  text-decoration: none;
}

.teamTitle:hover {
  color: $red;
}

.orgLinks {
  list-style-type: none;
  margin: 0;
  padding: 0;
  & li {
    margin: 0;
    padding: 0;
    & a:link,
    & a:visited {
      color: $foreground;
    }
  }
}

button {
  background: $red;
  color: $background;
  border: 1px solid $red;
  border-radius: 30px !important;
}

button:active,
button:hover,
button:visited {
  color: $background;
  color: $red;
  background: $background;
  border: 1px solid $red;
  border-radius: 30px;
}

.small {
  font-size: 0.75em;
  line-height: 1.3em;
  font-weight: bold;
}

.manifesto {
  font-family: "AAHA-WEB";
  text-align: center;
  font-weight: normal;
  font-size: 4.75vw;
  line-height: 1em;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-48%);

  &.fr {
    font-size: 3.75vw;
  }

  &:hover h2,
  &:hover .num {
    color: rgba($foreground, 0.3);
  }
  // margin-top:-50%;

  h2 {
    font-weight: normal;
    display: inline;
    font-size: inherit;
    cursor: pointer;
    transition: color $transition-time;
    text-transform: uppercase;

    &:hover {
      color: $red;

      & span.num {
        color: $red;
      }
    }
  }
}

/**** BEGIN ALT ****/

.manifesto-2 {
  font-family: "AAHA-WEB";
  text-align: left;
  font-weight: normal;
  font-size: 5.5vw;
  line-height: 0.9em;
  margin: 0;
  padding: 0;
  // position:absolute;
  width: 100%;
  padding: 1em;

  &:hover h2,
  &:hover .num {
    color: rgba($foreground, 0.3);
  }
  // margin-top:-50%;

  h2 {
    margin-left: -0.4em;
    font-weight: normal;
    // display:inline;
    font-size: inherit;
    line-height: 0.9;
    cursor: pointer;
    transition: color $transition-time;

    &:hover {
      color: $red;

      & span.num {
        color: $red;
      }
    }
  }
}

.num {
  // font-size:0.66em;
  color: $red;
  display: inline-block;
  margin-right: 0.1em;
  // margin-top:-1.333em;
  // transform:translateY(-0.5em);
  // font-weight:bold;
}

label,
.label {
  font-family: aaha-web, monospace;
  text-transform: uppercase;
  display: inline-block;
  font-size: 0.8em;
  line-height: 1.2em;
  letter-spacing: 0.1em;
}

.label li {
  padding: 0;
  margin: 0;
}

.label--red {
  background: $red;
  color: $white;
  padding: 0.4em 1em 0.2em;
  border-radius: 1em;
  cursor:pointer;
  transition:background 0.3s;
  // margin-left:-1em;


  &:hover {
    background:$foreground;
  }
}

ol {
  list-style: decimal;
}

// 
.temp-filter-header,
.temp-filter-item {
  font-family: aaha-web, monospace;
  text-transform: uppercase;
  font-size: 0.8em;
  line-height: 1.2em;
  letter-spacing: 0.1em;
  cursor: pointer;
}

.temp-filter-item {
  display: none;
  &:hover {
    background-color: $red;
  }

  &.open {
    display: block;
  }
}
